body {
    font-family: Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: "#3d3d3d";
    background-color: #E1EDF2;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid black;
}

figure {
    text-align: center;
    
    background-color: whitesmoke;
    color: gray;
    border: 1px solid lightgray;

    padding: 15px;
    margin: 30px;
}
figcaption{
    margin-top: 10px;
}
img{
    align-self: center;
}

p {
    text-indent: 30 px;
}