body {
    font-family: Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-size: 32px;
    color: "#3d3d3d";
    background-color: #E1EDF2;
    padding: 10px;
}

.subtitulo {
    border-bottom: 2px solid black;
}

figure {
    text-align: center;
    
    background-color: whitesmoke;
    color: gray;
    border: 1px solid lightgray;

    margin: 30px;
    padding: 15px;
}
figcaption{
    margin-top: 10px;
}
figure img{
    align-self: center;
    width: 100%;
}

p {
    text-indent: 30 px;
}

.matriz-musidot {
    width: 550px;

    margin-left: auto;
    margin-right: auto;

}

.familia-tupfeln {
    float: right;
    width: 275px;
}

